includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: max
    
    paths:
        - src
        - index.php
    
    excludePaths:
        - tests/bootstrap.php
    
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
    
    bootstrapFiles:
        - vendor/autoload.php
    
    parallel:
        processTimeout: 300.0
        maximumNumberOfProcesses: 1
        minimumNumberOfJobsPerProcess: 1
