parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - tests/bootstrap.php
    scanDirectories:
        - vendor/bear
    bootstrapFiles:
        - vendor/autoload.php